html {
    scroll-behavior: smooth;
}


/* START MENU */

.hnp-navbar {
    height: 100px;
    width: 100%;
    margin: 0 !important;
}

.hnp-navbar-logo>img {
    width: 160px;
    height: 65px;
}

.hnp-navbar-menu-contactButton {
    /* width: 160px; */
    background-color: #262626;
    color: white;
}

.hnp-navbar-menu-telephone {
    width: 17px;
}

.hnp-navbar-menu-number {
    font-weight: bold;
}

.nav-item>.hnp-header-nav-item {
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
    height: 100px;
    font-size: 14px;
}


/* Hover animation */

.hnp-header-li:after {
    display: block;
    content: "";
    width: 120px;
    border-bottom: solid 3px #262626;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

li.hnp-header-li:after {
    transform-origin: 0% 50%;
}

li.hnp-header-li:hover:after {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}


/* END MENU */


/* =================================================================================================== */


/* START BANNER */

.hnp-banner {
    background: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 18px;
    /* Overlay dark background*/
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.hnp-banner-title {
    font-size: 69px;
    font-weight: bold;
}


/* END BANNER */


/* =================================================================================================== */


/* START CAROUSEL */

#carousel {
    height: 500px;
}


/* END CAROUSEL */


/* =================================================================================================== */


/* START FOOTER */

.nav-item>.hnp-footer-nav-item {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.hnp-footer-li:after {
    display: block;
    content: "";
    width: 120px;
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

li.hnp-footer-li:after {
    transform-origin: 0% 50%;
}

li.hnp-footer-li:hover:after {
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

.hnp-footer-top {
    height: 150px;
}


/* END FOOTER */


/* =================================================================================================== */